
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns:repeat(5, 1fr);
    grid-template-rows:(6, 1fr);
    grid-gap: 10px;
    margin: auto;
    grid-template-areas: 
    'he he he he he'
    'ma ma ma ma ma'
    'ma ma ma ma ma'
    'se se se se se'
    'se se se se se'
    'fo fo fo fo fo'   
    ;
}

.header {
    grid-area: he;
    background-color: gray;
    display: flex;
    justify-content: flex-end;
}

.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition:all .5s ease-in-out;
}

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition:all .5s ease-in-out ;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition:all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

/* animation */
.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}
/* animation */

.nav {
    background: white;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-in;
}

.nav.open {
    clip-path: circle(px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);

}

 
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}


.main {
    grid-area: ma;
    background-color: gray;
}

.section {
    grid-area: se;
    background-color: gray;
}

.footer {
    grid-area: fo;
    background-color: gray;
}