
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-columns:repeat(5,20%);
    background-image: url("../img/Artboard\ 1\ \(1\).png");
    background-size:cover ;
    grid-template-rows:8% 22% 20% 20% 20% 10%;   
    /*margin: auto;*/
    grid-template-areas: 
    'he he he he he'
    'ma ma ma ma ma'
    'ma ma ma ma ma'
    'se se se se se'
    'se se se se se'
    'fo fo fo fo fo'   
    ;
}

.header {
    grid-area: he;
    background:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header a{
    text-decoration: none;
    opacity: 100;
    margin-right: 10px;
    color: crimson;
    font-size: 50px;
    font-weight: bold;
}

.header a:hover {
    color: yellow;
    opacity: 100;
}

/*
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition:all .5s ease-in-out;
}

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition:all .5s ease-in-out ;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition:all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}


.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}


.nav {
    background: white;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-in;
}

.nav.open {
    clip-path: circle(px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);

}

 
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
*/



.main {
    grid-area: ma;

}

.section {
    grid-area: se;
    background-color: gray;
}

.footer {
    grid-area: fo;
    background-color: gray;
}