
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
    
}

body{
    overflow-x: hidden;
}


#container {
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-columns:repeat(5,20%);
    background-image: url("../img/Artboard\ 1\ \(1\).png");
    background-size:cover ;
    grid-template-rows:8% 22% 20% 20% 20% 10%;      
    grid-template-areas: 
    'he he he he he'
    'ma ma ma ma ma'
    'ma ma ma ma ma'
    'se se se se se'
    'se se se se se'
    'fo fo fo fo fo'   
    ;
}

.header {
    grid-area: he;
    background:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header a{
    text-decoration: none;
    color: #262626;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header a:hover {
    color: yellow;
}

.logo{
    max-width: 100px;
    max-height: 100px;
}

.logo a >img{
    width:100% ;
}


.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition:all .5s ease-in-out;
    z-index: 1;
    position: absolute;
}

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition:all .5s ease-in-out ;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition:all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}


.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}


.nav {
    background-color: rgba(201, 28, 28, 0.562);
    height: 100%;
    width: 100%;
    display:flex;
    clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-in;
    justify-content: space-evenly;
    align-items: center;
}

.nav.open {
    clip-path: circle(1200px at 90% -10%);


}

 
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}



.mainer {
    grid-area: ma;
    display: flex;
    justify-content: center;
    align-items: center;


}

.mainer h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100px;
    font-size: 50px;
    color: darkred;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.box {
    position: absolute;
    width: 150px;
    height: 75px;
    padding: 10 px;
    margin: 20px;
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:90px;
    background-color: rgba(201, 28, 28, 0.562);

    
}

.box:before {
    position: absolute;
    border:8px solid transparent;
    box-sizing: border-box;
    content: '';
    height: 0;
    width: 0;
    bottom: 0;
    left:0;

}

.box:hover:before{
    position: absolute;
    border:8px solid white;
    width: 150px;
    height: 75px;
    box-sizing: border-box;
    border-right: none;
    border-bottom: none;
    transition: height 0.5s linear, 
                width 0.5s linear 0.5s;
}

.box:after {
    position: absolute;
    border:8px solid transparent;
    box-sizing: border-box;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    right:0;
}

.box:hover:after{
    position: absolute;
    border:8px solid white;
    width: 150px;
    height: 75px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    transition: height 0.5s linear, 
                width 0.5s linear 0.5s;
}

.section {
    grid-area: se;
    background-color: white;
    opacity: 1;
    overflow: hidden;
}

.text {
    width: 70%;
    margin: 40px auto 40px auto;
    text-align: center;
    font-family: sans-serif;
}

.text h1 {
    margin-bottom: 30px;
    position: relative;
}

.text h1::before{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: crimson;
    width: 100px;
    height: 3px;
}



.outside {
    width: 100%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px;
    grid-gap: 0 15px;
}
            
.wrapper{
    border: 2px solid lightgray;
    position: relative;
    bottom: -30px;
    cursor: pointer;
    
}

.wrapper .innerwrapper{
    position: absolute;
    width: 100%;
    text-align:center;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.innerwrapper img{
    background-color: white;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 50px;
    margin-top: 65px;
    
}

.wrapper:hover .innerwrapper img{
    border-radius: 25px;
    background-color: white;
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 50px;
    margin-top: 65px;
    
}


.innerwrapper h3{
    margin-top: 50px;
    font-size: 20px;
}


a {
    text-decoration: yellow;
    color: black;
}   

.outside p{
    text-align: center;
    word-break: break-all;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align-last: center;
    margin-top: 100px;
    opacity: 0;
}

.wrapper:hover{
    border-color: crimson;
}

.wrapper:hover .innerwrapper a {
    color: crimson;
    
}


.wrapper:hover .innerwrapper {
    margin-top: -130px;
    color: crimson;
    
}
.wrapper:hover p{
    opacity: 1;
    margin-top: 0;
    transition: .4s;
    font-family: sans-serif;
}


.footer {
    grid-area: fo;
    background-color: #990011ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #FCF6F5FF;
}

.get_in_touch{
    border: 5px solid #ff4f58ff;
    height: 100px;
    width: 400px;
}

.legal{
    border: 5px solid #ff4f58ff;
    height: 100px;
    width: 230px;
}

.get_in_touch p{
    margin-top: 35px;
}


/* --------- Meny ------------- */ 

#container2 {
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-columns:repeat(5,20%);
    grid-template-rows:8% 27% 28% 27% 10%;      
    grid-template-areas: 
    'he he he he he'
    'm1 m1 m1 m1 m1'
    'm1 m1 m1 m1 m1'
    'm1 m1 m1 m1 m1'
    'fo fo fo fo fo'   
    ;
}

.mainer2 {
    grid-area: m1;
    background:radial-gradient(#fff,#ffd6d6);   
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1vmax;
}


.col-3 {
    max-width: 300px;
    max-height: 400px;
    box-shadow: 1px 1px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} 

.col-3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.pizza-title {
    text-align: center;
    line-height: 24px;
}

/*------ About us --------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#container3 {
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-columns:repeat(5,20%);
    grid-template-rows:8% 27% 28% 27% 10%;      
    grid-template-areas: 
    'he he he he he'
    'm3 m3 m3 m3 m3'
    'm3 m3 m3 m3 m3'
    'm3 m3 m3 m3 m3'
    'fo fo fo fo fo'   
    ;
}

.mainer3{
    grid-area: m3;
    font-family: 'Roboto','sans-serif';
    overflow: hidden;
    text-align: center;
    background-color: #ff4f58ff;
    padding: 60px;
}

.mainer3 h1{
    text-transform: uppercase;
    margin-bottom: 60px;
    color:white;
    font-size: 30px;
}

.border{
    display: block;
    margin: auto;
    width: 160px;
    background:#EDFF00FF;
    height: 3px;
    margin-bottom: 40px;

}

.ps{
    margin-bottom: 40px;
}

.ps a{
    display: inline-block;
    margin: 0 30px;
    width: 160px;
    height: 160px;
    overflow: hidden;
    border-radius: 50%  ;
}

.ps a img{
    width: 100%;
    filter: grayscale(100%);
    transition: 0.4s all;
}

.ps a:hover > img{
    filter: none;
}

.section-text{
    width: 600px;
    margin: auto;
    font-size: 20px;
    color: white;
    text-align: justify;
    height: 0;
    overflow: hidden;
}

.section-text:target{
    height: auto;
}

.name{
    display: block;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
}
