
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#container {
    display: grid;
    width: 100vw;
    height: 200vh;
    grid-template-columns:repeat(5,20%);
    background-image: url("../img/Artboard\ 1\ \(1\).png");
    background-size:cover ;
    grid-template-rows:8% 22% 20% 20% 20% 10%;   
    /*margin: auto;*/
    grid-template-areas: 
    'he he he he he'
    'ma ma ma ma ma'
    'ma ma ma ma ma'
    'se se se se se'
    'se se se se se'
    'fo fo fo fo fo'   
    ;
}

.header {
    grid-area: he;
    background:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header a{
    text-decoration: none;
    opacity: 100;
    margin-right: 10px;
    color: crimson;
    font-size: 50px;
    font-weight: bold;
}

.header a:hover {
    color: yellow;
    opacity: 100;
}

/*
.menu-btn {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition:all .5s ease-in-out;
}

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition:all .5s ease-in-out ;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 6px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition:all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}


.menu-btn.open .menu-btn_burger {
    transform: translateX(-50px);
    background: transparent;
    box-shadow: none;
}


.nav {
    background: white;
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: flex-start;
    clip-path: circle(0px at 90% -10%);
    -webkit-clip-path: circle(0px at 90% -10%);
    transition: all 1s ease-in;
}

.nav.open {
    clip-path: circle(px at 90% -10%);
    -webkit-clip-path: circle(1000px at 90% -10%);

}

 
.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(35px, 35px);
}
*/


.main {
    grid-area: ma;
    display: flex;
    justify-content: center;
    align-items: center;


}

.main h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 100px;
    font-size: 50px;
    color: darkred;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}

.box {
    position: absolute;
    width: 150px;
    height: 75px;
    border: none;
    padding: 10 px;
    margin: 20px;
    color: white;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom:90px;
    background-color: rgba(201, 28, 28, 0.562);

    
}

.box:before {
    position: absolute;
    border:8px solid transparent;
    box-sizing: border-box;
    content: '';
    height: 0;
    width: 0;
    bottom: 0;
    left:0;

}

.box:hover:before{
    position: absolute;
    border:8px solid white;
    width: 150px;
    height: 75px;
    box-sizing: border-box;
    border-right: none;
    border-bottom: none;
    transition: height 0.5s linear, 
                width 0.5s linear 0.5s;
}

.box:after {
    position: absolute;
    border:8px solid transparent;
    box-sizing: border-box;
    content: '';
    height: 0;
    width: 0;
    top: 0;
    right:0;
}

.box:hover:after{
    position: absolute;
    border:8px solid white;
    width: 150px;
    height: 75px;
    box-sizing: border-box;
    border-top: none;
    border-left: none;
    transition: height 0.5s linear, 
                width 0.5s linear 0.5s;
}

.section {
    grid-area: se;
    background-image: url(http://floorinc.com.my/wp-content/themes/floorinc/images/bg-index-concept.png);
    opacity: 1;
    overflow: hidden;
}

.text {
    width: 70%;
    margin: 40px auto 40px auto;
    text-align: center;
    font-family: sans-serif;
}

.text h1 {
    margin-bottom: 30px;
    position: relative;
}

.text h1::before{
    content: '';
    position: absolute;
    bottom: -15px;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: crimson;
    width: 100px;
    height: 3px;
}



.outside {
    width: 100%;
    margin:auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 300px;
    grid-gap: 0 15px;
}
            
.wrapper{
    border: 2px solid lightgray;
    position: relative;
    bottom: -30px;
    cursor: pointer;
    
}

.wrapper .innerwrapper{
    position: absolute;
    width: 100%;
    text-align:center;
    top: 50%;
    transform: translateY(-50%);
    transition: .3s;
}

.innerwrapper img{
    background-image: url(http://floorinc.com.my/wp-content/themes/floorinc/images/bg-index-concept.png);
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 50px;
    margin-top: 65px;
    
}

.wrapper:hover .innerwrapper img{
    background-image: url(http://floorinc.com.my/wp-content/themes/floorinc/images/bg-index-concept.png);
    display: inline-block;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 50px;
    margin-top: 65px;
    
}




.innerwrapper h3{
    margin-top: 50px;
    font-size: 20px;
}


a {
    text-decoration: yellow;
    color: black;
}

.outside p{
    text-align: center;
    word-break: break-all;
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    text-align-last: center;
    margin-top: 100px;
    opacity: 0;
}

.wrapper:hover{
    border-color: crimson;
}

.wrapper:hover .innerwrapper a {
    color: crimson;
    
}


.wrapper:hover .innerwrapper {
    margin-top: -130px;
    color: crimson;
    
}
.wrapper:hover p{
    opacity: 1;
    margin-top: 0;
    transition: .4s;
}


.footer {
    grid-area: fo;
    background-color: gray;
}